
body{
  background-color: rgb(0, 0, 0);
  font-family: 'Roboto Slab', serif;
}

.container {
  width: 320px;
  height: 320px;
  margin: auto;
  margin-top: 100px;
  animation: flow 2s;
}

.container h1 {
  text-align: center;
  font-size: 50px;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
}

.linha {
  height: 100px;
}

.quadr {
  height: 100px;
  width: 100px;
  float: left;
  font-size: 100px;
  text-align: center;
  line-height: 100px;
  color: white;
  transition: .8s;
  animation: xo .5s;
}

.quadr:hover {
    background-color: rgba(39, 39, 39, 0.658);
    filter: opacity(50%)
}

.borda-b {
  border-bottom: 5px solid rgb(255, 255, 255);
}

.borda-r {
  border-right: 5px solid rgb(255, 255, 255);
}

.jogadaGanhador {
    animation: cor .4s infinite;
}

@keyframes flow{
  from {
    opacity: 0;
  }
  
  to {
    opacity: 1;
  }
}

@keyframes cor{
  from {
    color: rgb(0, 153, 89);
  }
  
  to {
    color: rgb(15, 17, 170);
  }