body{ 
font-size:12pt;
margin-left:auto;
margin-right:auto;
padding-top:5em;
width:33em;
background-color: rgb(255, 255, 255);
display: flex;
justify-content: center;

}

h1{
    text-align: center;
    height: 100px;
    color: white;

}

.quadr{
float:left;
font-size:8em;
height:1.25em;
text-align:center;
width:1.25em;
display: flex;
justify-content: center;
}

.quadr:hover{
    transition: .9s;
    filter: blur(70%);
    background-color: rgb(39, 39, 39);
    opacity: 10%;
    filter: opacity(20%)
}

.borda1{
border-left:solid;
border-right:solid;
color: white;
}

.borda2{
border-bottom:solid;
border-top:solid;
color: white;
}